.exchange_box{
 
  .card{
    border: 0;
 
    .card-header{
      background-color: #dddddd;
      border-radius: 0;
      color: rgb(75, 75, 75);
      font-weight: 700;
    }
 
    .card-block{
      padding-top: 10px;
      padding: 20px;
 
      .title{
        color:rgb(75, 75, 75);
        font-weight: 700;
      }
 
      .btn-exchange{
        background-color: #991cff;
        border-color: #991cff;
        border-radius: 0;
      }

      .btn-reverse {
        background-color: #1c82ff;
        border-color: #1c82ff;
        border-radius: 0;
        color: white;
      }
    }
  }
}
 
@media only screen and (max-width : 992px) {
  .card-header {
    font-size: 25px;
  }
 
  .title{
    margin-top: 30px;
    font-size: 20px;
  }
    
  .form-group {
    select {
      font-size: 20px;
      height: 50px !important;
    }
 
    input {
      font-size: 20px;
      height: 50px;
    }
  }
 
 
  #result {
    margin-bottom: 20px;
  }
 
  .btn-exchange {
    font-size: 20px;
  }
}